body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainDiv{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px;
  padding-top: 110px;
}
.buttonsHolder{
  width: 100%;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.buttonsHolder button{
  float: right;
}
.selectHolder{
  width: calc(100% - 150px);
  float: left;
}
.buttonDiv{
  width: 150px;
  float: right;
}
.userCard{
  width: 100%;
}
.userAvatar{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
  background-image: url("../public/avatar.jpg");
  background-size: cover;
  background-position: center;
}
.userInfo{
  float: left;
}